.content {
  margin: 30px;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.image-wrapper img {
  width: 30%;
  height: 30%;
}

.image-wrapper p {
  margin: 30px 50px;
}
