.title {
  text-align: center;
}

.image-and-text {
  margin: 0px 50px;
  display: flex;
}

.image-and-text p {
  margin-left: 60px;
}

.more-desc {
  text-align: center;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}

.gallery-img {
  width: calc(20%);
  height: auto;
  object-fit: cover;
}
