.content {
  margin: 30px;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.image-wrapper img {
  width: 30%;
  height: 30%;
}

.info-container {
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text p {
  margin-left: 20px;
}
