.banner {
  position: relative;
  height: 70vh;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.banner-links {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}

.banner-links a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-left: 16px;
}
